.home header{
    padding: 0px;
    padding-top: 6px;
    background-color: rgba(0, 0, 0, 0.2);
}

.home header ul{
    font-size: 16px;
}

.home .dropdown{
    display: inline-block;
    margin-top: 8px ;
}

.home .dropdown button{
    border: solid 1px green;
}

.home .dropdown button span{
    color: green;
    font-weight: 600;
    font-size: 14px;
}